# Ignore gradle
.gradle
*/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Ignore IntelliJ
.idea
/out/

